<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<input type="text" [(ngModel)]="name" class="border rounded-lg">
<p>{{ name }}</p>
<h1 class="">{{ 2+3 }}</h1>
<p>{{ x+y }}</p>
<p>{{ x==y }}</p>
<h1 class="bg-cyan-300 hover:bg-yellow-300">hello</h1>

<h2 class="text-lg">{{ 'Hola'.toUpperCase() }}</h2>
<app-login></app-login>
<h2 class="text-lg">{{ user1 }}</h2>
<h2 class="text-lg">{{ user1.toUpperCase() }}</h2>
<app-login></app-login>

<app-signup></app-signup>
<app-profile></app-profile>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
