<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body class="m-2">
  <h1 class="text-2xl font-bold">Form Grouping in Reactive forms</h1>
  <br />

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <input
      type="text"
      placeholder="Enter name"
      class="border placeholder:text-gray-500"
      formControlName="name"
    />
    <br /><br />
    <input
      type="text"
      placeholder="Enter password"
      class="border placeholder:text-gray-500"
      formControlName="password"
    />
    <br /><br />
    <input
      type="text"
      placeholder="Enter email"
      class="border placeholder:text-gray-500"
      formControlName="email"
    />
    <br /><br />
    <button
      class="border px-1 pb-1 bg-gray-200 cursor-pointer active:bg-gray-400"
    >
      Submit
    </button>
    <button
      type="button"
      (click)="setValue()"
      class="border px-1 pb-1 bg-gray-200 cursor-pointer active:bg-gray-400"
    >
      Set Value
    </button>

    <p>{{ profileForm.value.name }}</p>
    <p>{{ profileForm.value.password }}</p>
    <p>{{ profileForm.value.email }}</p>
  </form>
</body>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
