<h1 class="text-2xl font-black">Home Page!</h1>

<!-- <a [routerLink]="['profile', {name: 'Peter Anshuman'}]" class="text-purple-500 underline">Go to Profile page</a> -->

<button
  (click)="goToProfile('Sam sensei')"
  class="border px-1 pb-1 bg-gray-200 cursor-pointer active:bg-gray-400"
>
  Go to Profile page
</button>

<button
  (click)="goToProfile('Peter peckson')"
  class="border px-1 pb-1 bg-gray-200 cursor-pointer active:bg-gray-400"
>
  Go to Profile page
</button>

<a routerLink="profile" class="text-purple-500 underline">Go to Profile</a>
